.awesome-select-container,
.awesome-select-container *,
.awesome-select-container ::after,
.awesome-select-container ::before {
  box-sizing: border-box;
}

.awesome-select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: left;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.disable-ms {
  pointer-events: none;
  opacity: 0.5;
}




