.chip {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  background-color: rgb(0 126 255 / 8%);
  border-radius: 0.25rem;
  border: 1px solid rgb(187 201 215 / 24%);
  color: rgb(3 7 18);
  font-size: 0.9em;
  line-height: 1.4;

}

.chip:last-of-type{
  margin-right: 5px;
}

.chip-button {
  cursor: pointer;
	background-color: rgb(148 163 184);
  border: none;
  border-radius: 0.25rem;
  display: inline-block;
  margin-left: 5px;
}

.chip-button:hover {
  background-color: rgb(0 113 230 / 8%);
}

.chip-button:focus {
  outline: none;
}

.fill-white{
  fill:#fff
}
